AppMiguel/Connected Services/ConsultarProductoService/ProductoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52595/ProductoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Miguelwcf.Modelo" />
  <xs:element name="Consultar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Miguelwcf.Modelo" minOccurs="0" name="ConsultarResult" nillable="true" type="q1:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>