WebAppIndigo/Connected Services/ServiceReferenceRemison/RemisionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Miguelwcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Miguelwcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GeneraRemision">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaDocumento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdAlamacen" type="xs:int" />
      <xs:element minOccurs="0" name="IdProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="Tipoopera" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneraRemision" nillable="true" type="tns:GeneraRemision" />
  <xs:complexType name="getRemisiones">
    <xs:sequence>
      <xs:element minOccurs="0" name="remisonesTab" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getRemisiones" nillable="true" type="tns:getRemisiones" />
</xs:schema>