WebAppIndigo/Connected Services/ServiceReferenceRemison/RemisionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="RemisionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52595/RemisionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52595/RemisionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52595/RemisionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Miguelwcf" />
      <xsd:import schemaLocation="http://localhost:52595/RemisionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRemisionService_GeneraRemision_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneraRemision" />
  </wsdl:message>
  <wsdl:message name="IRemisionService_GeneraRemision_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneraRemisionResponse" />
  </wsdl:message>
  <wsdl:message name="IRemisionService_GetInforma_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInforma" />
  </wsdl:message>
  <wsdl:message name="IRemisionService_GetInforma_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInformaResponse" />
  </wsdl:message>
  <wsdl:portType name="IRemisionService">
    <wsdl:operation name="GeneraRemision">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemisionService/GeneraRemision" message="tns:IRemisionService_GeneraRemision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemisionService/GeneraRemisionResponse" message="tns:IRemisionService_GeneraRemision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInforma">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemisionService/GetInforma" message="tns:IRemisionService_GetInforma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemisionService/GetInformaResponse" message="tns:IRemisionService_GetInforma_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRemisionService" type="tns:IRemisionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneraRemision">
      <soap:operation soapAction="http://tempuri.org/IRemisionService/GeneraRemision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInforma">
      <soap:operation soapAction="http://tempuri.org/IRemisionService/GetInforma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemisionService">
    <wsdl:port name="BasicHttpBinding_IRemisionService" binding="tns:BasicHttpBinding_IRemisionService">
      <soap:address location="http://localhost:52595/RemisionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>