WebAppIndigo/Connected Services/ServiceReferenceRemison/RemisionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52595/RemisionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Miguelwcf" />
  <xs:element name="GeneraRemision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Miguelwcf" minOccurs="0" name="Remi" nillable="true" type="q1:GeneraRemision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneraRemisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GeneraRemisionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInforma">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Miguelwcf" minOccurs="0" name="GetInformaResult" nillable="true" type="q2:getRemisiones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>