WebAppIndigo/Connected Services/ServiceReferenceProducto/ProductoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Miguelwcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Miguelwcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InsertPro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precioventa" type="xs:double" />
      <xs:element minOccurs="0" name="Stockmaximo" type="xs:int" />
      <xs:element minOccurs="0" name="Stockminimo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertPro" nillable="true" type="tns:InsertPro" />
  <xs:complexType name="getDatos">
    <xs:sequence>
      <xs:element minOccurs="0" name="productoTab" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getDatos" nillable="true" type="tns:getDatos" />
  <xs:complexType name="UpdateProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precioventa" type="xs:double" />
      <xs:element minOccurs="0" name="Stockmaximo" type="xs:int" />
      <xs:element minOccurs="0" name="Stockminimo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateProducto" nillable="true" type="tns:UpdateProducto" />
  <xs:complexType name="DeleteProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteProducto" nillable="true" type="tns:DeleteProducto" />
</xs:schema>