WebAppIndigo/Connected Services/ServiceReferenceProveedor/Proveedor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Proveedor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52595/Proveedor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52595/Proveedor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52595/Proveedor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Miguelwcf" />
      <xsd:import schemaLocation="http://localhost:52595/Proveedor.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:52595/Proveedor.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProveedor_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="IProveedor_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IProveedor_getInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getInfo" />
  </wsdl:message>
  <wsdl:message name="IProveedor_getInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IProveedor_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IProveedor_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IProveedor_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IProveedor_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IProveedor_getProveedores_InputMessage">
    <wsdl:part name="parameters" element="tns:getProveedores" />
  </wsdl:message>
  <wsdl:message name="IProveedor_getProveedores_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="IProveedor_getAlmacenes_InputMessage">
    <wsdl:part name="parameters" element="tns:getAlmacenes" />
  </wsdl:message>
  <wsdl:message name="IProveedor_getAlmacenes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAlmacenesResponse" />
  </wsdl:message>
  <wsdl:portType name="IProveedor">
    <wsdl:operation name="Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IProveedor/Guardar" message="tns:IProveedor_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProveedor/GuardarResponse" message="tns:IProveedor_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IProveedor/getInfo" message="tns:IProveedor_getInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProveedor/getInfoResponse" message="tns:IProveedor_getInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IProveedor/Update" message="tns:IProveedor_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProveedor/UpdateResponse" message="tns:IProveedor_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IProveedor/Delete" message="tns:IProveedor_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProveedor/DeleteResponse" message="tns:IProveedor_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProveedores">
      <wsdl:input wsaw:Action="http://tempuri.org/IProveedor/getProveedores" message="tns:IProveedor_getProveedores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProveedor/getProveedoresResponse" message="tns:IProveedor_getProveedores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAlmacenes">
      <wsdl:input wsaw:Action="http://tempuri.org/IProveedor/getAlmacenes" message="tns:IProveedor_getAlmacenes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProveedor/getAlmacenesResponse" message="tns:IProveedor_getAlmacenes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProveedor" type="tns:IProveedor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/IProveedor/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfo">
      <soap:operation soapAction="http://tempuri.org/IProveedor/getInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IProveedor/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IProveedor/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProveedores">
      <soap:operation soapAction="http://tempuri.org/IProveedor/getProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlmacenes">
      <soap:operation soapAction="http://tempuri.org/IProveedor/getAlmacenes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Proveedor">
    <wsdl:port name="BasicHttpBinding_IProveedor" binding="tns:BasicHttpBinding_IProveedor">
      <soap:address location="http://localhost:52595/Proveedor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>