webAppMiguel/Connected Services/ServiceReferenceProducto/ProductoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Miguelwcf.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Miguelwcf.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InventarioFisico" nillable="true" type="tns:ArrayOfInventarioFisico" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioVenta" type="xs:decimal" />
      <xs:element minOccurs="0" name="StockMaximo" type="xs:int" />
      <xs:element minOccurs="0" name="StockMinimo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="ArrayOfInventarioFisico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventarioFisico" nillable="true" type="tns:InventarioFisico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventarioFisico" nillable="true" type="tns:ArrayOfInventarioFisico" />
  <xs:complexType name="InventarioFisico">
    <xs:sequence>
      <xs:element minOccurs="0" name="Almacen" nillable="true" type="tns:Almacen" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdAlmacen" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InventarioFisico" nillable="true" type="tns:InventarioFisico" />
  <xs:complexType name="Almacen">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InventarioFisico" nillable="true" type="tns:ArrayOfInventarioFisico" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemisionEntrada" nillable="true" type="tns:ArrayOfRemisionEntrada" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Almacen" nillable="true" type="tns:Almacen" />
  <xs:complexType name="ArrayOfRemisionEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RemisionEntrada" nillable="true" type="tns:RemisionEntrada" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRemisionEntrada" nillable="true" type="tns:ArrayOfRemisionEntrada" />
  <xs:complexType name="RemisionEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="Almacen" nillable="true" type="tns:Almacen" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaDcumento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdAlmacen" type="xs:int" />
      <xs:element minOccurs="0" name="IdProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="Proveedor" nillable="true" type="tns:Proveedor" />
      <xs:element minOccurs="0" name="RemisionEntradaDetalle" nillable="true" type="tns:ArrayOfRemisionEntradaDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemisionEntrada" nillable="true" type="tns:RemisionEntrada" />
  <xs:complexType name="Proveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemisionEntrada" nillable="true" type="tns:ArrayOfRemisionEntrada" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Proveedor" nillable="true" type="tns:Proveedor" />
  <xs:complexType name="ArrayOfRemisionEntradaDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RemisionEntradaDetalle" nillable="true" type="tns:RemisionEntradaDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRemisionEntradaDetalle" nillable="true" type="tns:ArrayOfRemisionEntradaDetalle" />
  <xs:complexType name="RemisionEntradaDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdRemisionEntrada" type="xs:int" />
      <xs:element minOccurs="0" name="RemisionEntrada" nillable="true" type="tns:RemisionEntrada" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemisionEntradaDetalle" nillable="true" type="tns:RemisionEntradaDetalle" />
</xs:schema>